/* Remove or comment out this class if you want to use the background image */
/* .hero-section {
  background: url("/assets/Design.png"), linear-gradient(210deg, rgba(195,126,255,1) 0%, rgba(58,11,99,1) 100%);
  background-blend-mode: screen;
  background-position: center;
  background-size: cover;
} */