@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

@font-face {
  font-family: "CircularStd";
  src: url("./assets/fonts/circular-font.ttf") format("ttf");
}
